body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

center {
    margin-top: 1%;
}

h1 {
    color: #007bff;
}
a.cerrar{
    color: #ff0015;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #d30516;
    border-radius: 4px; 
    align-content: flex-end;
}

a.cerrar:hover{
    background-color: #c00211;
    color: #fff; 
}

.table{
    width:90%!important ;
    background: #0056b3;
    color: #fff;
    text-decoration: none;
}
.table:hover{
    background: #0056b3;
    color: #fff;
    text-decoration: none;
}
a.editar {
    color: #0bb37b;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #11e08a;
    border-radius: 4px;
}

a.editar:hover {
    background-color: #13a755;
    color: #fff;
}

a.eliminar {
    color: #ff0015;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #d30516;
    border-radius: 4px; 
}

a.eliminar:hover {
    background-color: #c00211;
    color: #fff; 
}

h3 {
    margin-bottom: 15px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:hover {
    background-color: #f0f0f0;
}

form {
    margin-top: 30px;
    width: 50%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form table {
    width: 100%;
}

form td {
    padding: 5px;
}

input[type="text"],
input[type="submit"],
input[type="reset"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:red;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}